@import "./Calendar";

.calendar1 {
  .date.lastMonthDate,
  .date.nextMonthDate {
    color: #757575;
    &:hover {
      cursor: not-allowed;
      background-color: white;
    }
  }
  .prevMonth,
  .nextMonth {
    &:hover {
      cursor: not-allowed;
    }
  }
}
