@import "./Calendar";

.calendar2 {
  .date {
    &:hover {
      cursor: pointer;
      background-color: #ccc;
    }
  }
  .prevMonth,
  .nextMonth {
    &:hover {
      cursor: pointer;
      background-color: #e6e6e6;
    }
  }
}
